{% extends ('base.html.twig') %}


{% block body %}

    <!-- Title page -->
    <section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
        <h2 class="ltext-105 cl0 txt-center">
            Contact
        </h2>
    </section>



    <!-- Content page -->
    <section class="bg0 p-t-104 p-b-116">
        <div class="container">
            <div class="flex-w flex-tr">
                <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                    {{ form_start(formContact) }}
                        <h4 class="mtext-105 cl2 txt-center p-b-30">
                            Contacter nous
                        </h4>

                        <div class="bor8 m-b-20 how-pos4-parent">

                            {{ form_widget(formContact.name) }}

                        </div>

                        <div class="bor8 m-b-20 how-pos4-parent">

                            {{ form_widget(formContact.email) }}

                        </div>

                        <div class="bor8 m-b-20 how-pos4-parent">

                            {{ form_widget(formContact.subject) }}

                        </div>

                        <div class="bor8 m-b-30">

                            {{ form_widget(formContact.message) }}

                        </div>

                        <input type="submit" value="Envoyer" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">


                    {{ form_end(formContact) }}
                </div>

            </div>
        </div>
    </section>



{% endblock %}