{% extends "@FOSUser/layout.html.twig" %}

{% set title = 'Inscription' %}


{% block fos_user_content %}

{% include "@FOSUser/Registration/register_content.html.twig" %}

{% endblock fos_user_content %}
