{% trans_default_domain 'FOSUserBundle' %}

<div class="form-front">

    <h1 class="text-center">Inscrit toi pour acheter des produits sur notre boutique </h1>

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}


    <div class="form-group">

        {{ form_label(form.username) }}
        {{ form_widget(form.username) }}

    </div>

    <div class="form-group">

        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}

    </div>

    <div class="form-group">

        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first) }}

    </div>

    <div class="form-group">

        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second) }}

    </div>

    <div class="form-group">

        {{ form_label(form.adresse.lastName, 'Nom') }}
        {{ form_widget(form.adresse.lastName) }}

    </div>

    <div class="form-group">

        {{ form_label(form.adresse.firstName, 'Prenom') }}
        {{ form_widget(form.adresse.firstName) }}

    </div>

    <div class="form-group">

        {{ form_label(form.adresse.streetNumbre, 'Numéro de rue') }}
        {{ form_widget(form.adresse.streetNumbre) }}

    </div>

    <div class="form-group">

        {{ form_label(form.adresse.street, 'Rue') }}
        {{ form_widget(form.adresse.street) }}

    </div>

    <div class="form-group">

        {{ form_label(form.adresse.postalCode, 'Code postal') }}
        {{ form_widget(form.adresse.postalCode) }}

    </div>

    <div class="form-group">

        {{ form_label(form.adresse.country, 'Pays') }}
        {{ form_widget(form.adresse.country) }}

    </div>

        <div>
            <input type="submit" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04" value="{{ 'registration.submit'|trans }}" />
        </div>


    {{ form_end(form) }}

</div>
