{% extends 'base.html.twig' %}


{% block body %}

    <main role="main" class="container">



            {% block fos_user_content %}
            {% endblock fos_user_content %}

    </main>
{% endblock %}