{% extends 'backOffice/base_admin.html.twig' %}


{% block body %}

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Listes de tous les produits</h1>
            <p class="lead text-muted">Retrouvez tous les produits de votre boutique</p>
            <p>
                <a href="{{ path('app_back_add') }}" class="btn btn-primary my-2">Ajouter un produit</a>
                <a href="{{ path('app_back_addcategory') }}" class="btn btn-secondary my-2">Ajouter une catégorie</a>
            </p>

            {% for message in app.flashes('notice') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Holy guacamole!</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}

            {% for message in app.flashes('noticeDelete') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Holy guacamole!</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">

                {% for products in product %}

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" width="300" height="200" src="{{ asset('images/products/'~products.imageName) }}" alt="{{ products.imageName }}">
                        <div class="card-body">
                            <h5>{{ products.name|truncate(25, false) }}</h5>
                            <p class="card-text">{{ products.description|truncate(50, true) }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ path('app_back_detail', {id: products.id}) }}" class="btn btn-sm btn-outline-primary">Voir</a>
                                    <a href="{{ path('app_back_editproduct', {id: products.id}) }}" class="btn btn-sm btn-outline-success">Editer</a>
                                    <a href="{{ path('app_back_deleteproduct', {id: products.id}) }}" class="btn btn-sm btn-outline-danger">Supprimer</a>
                                </div>
                                <small class="text-muted">{{ products.createdAt |date('m/d/Y à H:i') }}</small>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>


{% endblock %}