<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include('inc/head.html.twig') %}

    </head>

    <body class="animsition">
    {% include 'inc/header.html.twig' %}


        {% block body %}

        {% endblock %}


        {% include('inc/footer.html.twig') %}
        {% block javascripts %}
            {% include('inc/js.html.twig') %}
        {% endblock %}

    </body>
</html>
