{% extends 'backOffice/base_admin.html.twig' %}


{% block body %}

    <h1>Ajouter un produit a votre boutique</h1>
    <br>

    {{ form_start(creatProduct) }}

    <div class="form-group">

        {{ form_label(creatProduct.name, 'Nom du produit') }}
        {{ form_widget(creatProduct.name) }}

    </div>

    <div class="form-group">

        {{ form_label(creatProduct.description, 'Description') }}
        {{ form_widget(creatProduct.description) }}

    </div>

    <div class="form-group">

        {{ form_label(creatProduct.price, 'Prix') }}
        {{ form_widget(creatProduct.price) }}

    </div>



    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Ajouter une image</span>
        </div>
        <div class="custom-file">
                {{ form_widget(creatProduct.imageFile) }}
            <label class="custom-file-label" for="inputGroupFile01">Choisir une image</label>
        </div>
    </div>



    <div class="form-group">

        {{ form_label(creatProduct.category, 'Categorie') }}
        {{ form_widget(creatProduct.category) }}

    </div>

    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Ajouter">
    </div>


    {{ form_end(creatProduct) }}

{% endblock %}