{% extends 'backOffice/base_admin.html.twig' %}


{% block body %}

    <h1 class="text-center">Ajouter une categorie</h1>
    </br>

    {{ form_start(creatCategory)}}

        <div class="form-group">
            {{ form_label(creatCategory.name) }}
            {{ form_widget(creatCategory.name) }} </br>
            <small id="emailHelp" class="form-text text-muted">Ajouter une categorie a votre boutique.</small>

        </div>

        <div class="form-group">

            <input type="submit" value="Ajouter" class="btn btn-primary">

        </div>

    {{ form_end(creatCategory)}}

{% endblock %}