{% extends 'backOffice/base_admin.html.twig' %}



{% block body %}


    <h1>Detail du produit : </h1>
</br>

    <h3>categorie : <span class="badge badge-info">{{ product.category.name }}</span></h3>
</br>
    <h3 class="text-center"> <span class="badge badge-success">Nom du produit</span> : {{ product.name }}</h3>

</br>

    <h4 class="text-center"> <span class="badge badge-success">description du produit</span> : {{ product.description }}</h4>

    <h5>Prix : <span class="badge badge-info">{{ product.price }}&euro;</span></h5>


    <p>Image du produit</p>

    <figure class="image-padding">
        <img height="1000" width="1300" src="{{ asset('images/products/'~product.imageName) }}" alt="">
    </figure>


{% endblock %}