{% extends 'backOffice/base_admin.html.twig' %}


{% block body %}

    <h1>Editer votre produit</h1>
    <br>

    {{ form_start(editProduct) }}

    <div class="form-group">

        {{ form_label(editProduct.name, 'Nom du produit') }}
        {{ form_widget(editProduct.name) }}

    </div>

    <div class="form-group">

        {{ form_label(editProduct.description, 'Description') }}
        {{ form_widget(editProduct.description) }}

    </div>

    <div class="form-group">

        {{ form_label(editProduct.price, 'Prix') }}
        {{ form_widget(editProduct.price) }}

    </div>



    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Ajouter une image</span>
        </div>
        <div class="custom-file">
            {{ form_widget(editProduct.imageFile) }}
            <label class="custom-file-label" for="inputGroupFile01">Choisir une image</label>
        </div>
    </div>



    <div class="form-group">

        {{ form_label(editProduct.category, 'Categorie') }}
        {{ form_widget(editProduct.category) }}

    </div>

    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Ajouter">
    </div>


    {{ form_end(editProduct) }}

{% endblock %}