<!-- Header -->
<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <!-- Topbar -->
        <div class="top-bar">
            <div class="content-topbar flex-sb-m h-full container">
                <div class="left-top-bar">
                    Un bon de 100€ gratuit pour l'achat de 500€ de vetement
                </div>

                <div class="right-top-bar flex-w h-full">

                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="flex-c-m trans-04 p-lr-25" href="{{ path('app_back_indexadmin') }}" target="_blank">Espace Administrattion</a>
                    {% endif %}

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                            <p class="flex-c-m trans-04 p-lr-25"> {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |

                            <a href="{{ path('fos_user_security_logout') }}" class="flex-c-m trans-04 p-lr-25" >

                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}

                            </a></p>
                        {% else %}

                            <a href="{{ path('fos_user_security_login') }}" class="flex-c-m trans-04 p-lr-25">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                            <a href="{{ path('fos_user_registration_register') }}" class="flex-c-m trans-04 p-lr-25">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>

                        {% endif %}


                </div>
            </div>
        </div>

        <div class="wrap-menu-desktop">
            <nav class="limiter-menu-desktop container">

                <!-- Logo desktop -->
                <a href="{{ path('app_front_index2') }}" class="logo">
                    <img src="{{ asset('images/icons/pin.png') }}" alt="IMG-LOGO">
                </a>

                <!-- Menu desktop -->
                <div class="menu-desktop">
                    <ul class="main-menu">
                        <li>
                            <a href="{{ path('app_front_index') }}">Accueil</a>
                        </li>

                        <li>
                            <a href="{{ path('app_front_boutique') }}">Boutique</a>
                        </li>

                        <li>
                            <a href="{{ path('app_front_about') }}">En savoir plus sur nous</a>
                        </li>

                        <li>
                            <a href="{{ path('app_front_contact') }}">Contact</a>
                        </li>
                    </ul>
                </div>

                <!-- Icon header -->
                <div class="wrap-icon-header flex-w flex-r-m">

                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                        <i class="zmdi zmdi-search"></i>
                    </div>

                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="2">
                        <a class="lien-Panier" href="{{ path('app_front_panier') }}"><i class="zmdi zmdi-shopping-cart"></i></a>
                    </div>

                </div>

            </nav>
        </div>
        </hr>
        </br></br></br>
    </div>

    <!-- Header Mobile -->
    <div class="wrap-header-mobile">
        <!-- Logo moblie -->
        <div class="logo-mobile">
            <a href="{{ path('app_front_index2') }}"><img src="{{ asset('images/icons/pin.png') }}" alt="IMG-LOGO"></a>
        </div>

        <!-- Icon header -->
        <div class="wrap-icon-header flex-w flex-r-m m-r-15">
            <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
                <i class="zmdi zmdi-search"></i>
            </div>
            <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="2">
                <a class="lien-Panier" href="{{ path('app_front_panier') }}"><i class="zmdi zmdi-shopping-cart"></i></a>
               </div>
        </div>

        <!-- Button show menu -->
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
        </div>
    </div>


    <!-- Menu Mobile -->
    <div class="menu-mobile">
        <ul class="topbar-mobile">
            <li>
                <div class="left-top-bar">
                    Un bon de 100€ gratuit pour l'achat de 500€ de vetement
                </div>
            </li>

            <li>
                <div class="right-top-bar flex-w h-full">

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }} class="flex-c-m trans-04 p-lr-25"">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}" class="flex-c-m trans-04 p-lr-25">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        <a href="{{ path('fos_user_registration_register') }}" class="flex-c-m trans-04 p-lr-25">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}



                </div>
            </li>
        </ul>

        <ul class="main-menu-m">
            <li>
                <a href="{{ path('app_front_index') }}">Accueil</a>
            </li>

            <li>
                <a href="{{ path('app_front_boutique') }}">Boutique</a>
            </li>

            <li>
                <a href="{{ path('app_front_about') }}">En savoir plus sur nous</a>
            </li>

            <li>
                <a href="{{ path('app_front_contact') }}">Contact</a>
            </li>
        </ul>
    </div>

    <!-- Modal Search -->
    <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
        <div class="container-search-header">
            <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
                <img src="{{ asset('images/icons/icon-close2.png') }}" alt="CLOSE">
            </button>

            <form class="wrap-search-header flex-w p-l-15">
                <button class="flex-c-m trans-04">
                    <i class="zmdi zmdi-search"></i>
                </button>
                <input class="plh3" type="text" name="search" placeholder="Search...">
            </form>
        </div>
    </div>
</header>
